:root {
  --primary: rgb(255, 255, 60);
  --secondary: rgb(114, 51, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Norwester";
}

@font-face {
  font-family: "Norwester";
  src: url(norwester.ttf);
}

svg {
  cursor: pointer;
}

body {
  background-color: var(--primary);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  height: 3rem;
}

.header-links {
  margin-right: 31rem;
  display: flex;
  justify-content: flex-start;
}

.header-link {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

.cart {
  margin-left: 31rem;
  display: flex;
  justify-content: flex-end;
}

/*card styling*/

.container {
  display: flex;
  justify-content: space-between;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary);
  padding: 5rem;
  font-size: 2rem;
}

.market {
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(2, 22.5rem);
  gap: 0.5rem;
}

.cart-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.cart-item:hover {
  background-color: rgba(13, 13, 13, 0.118);
  transition: all 0.5s ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  padding-top: 1.5rem;
}

.card-img {
  padding-top: 1.5rem;
  justify-content: center;
}

.empty {
  justify-content: center;
}

.check-btn {
  background-color: var(--secondary);
  color: white;
  width: 12.5rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  border: 0;
}

.check-btn:hover {
  background-color: var(--primary);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1000px) {
  .market {
    display: flex;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
}
