:root {
  --primary: rgb(255, 255, 60);
  --secondary: rgb(114, 51, 250);
}

* {
  margin: 0;
  font-family: "Norwester";
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Norwester";
  src: url(norwester.ttf);
}

footer {
  background-color: rgb(0, 0, 0);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem;
}

p {
  color: black;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--primary);
}

.footer-link {
  color: rgb(255, 255, 255);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

header {
  background-color: rgb(0, 0, 0);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes fly-in {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.logo {
  width: 100%;
  margin: 0;
  padding-top: 1.25rem;
  z-index: -1;
  position: relative;
  animation: fly-in 0.5s ease-out;
}

.header-link {
  color: white;
  margin-left: 1.25rem;
  text-decoration: none;
}

.cart {
  display: flex;
}

.top-container {
  display: flex;
  justify-content: space-around;
  height: 25rem;
  background-color: var(--primary);
}

.top-container-images {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-container-text {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 12rem;
  padding-top: 12rem;
  font-size: 2rem;
  color: var(--secondary);
}

.top-container-img {
  height: 15rem;
  width: 31rem;
  transition: all 0.5s ease-in-out;
}

.top-container-img:hover {
  transform: translateY(-3rem);
  transition: all 0.5s ease-in-out;
}

.mid-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
  background-color: var(--secondary);
}

@media (max-width: 1360px) {
  .mid-container {
    flex-direction: column;
  }
  .top-container {
    flex-direction: column;
    height: 125rem;
    align-items: center;
    justify-content: space-around;
  }

  .top-container a img {
    min-width: 30rem;
    height: auto;
  }

  .mid-container {
    height: 105rem;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    min-width: 100%;
  }

  .mid-container-card {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
  }

  .top-container-text {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    padding-top: 12rem;
    padding-bottom: 0rem;
  }

  .top-container-images {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.mid-container-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 12rem;
  height: 12rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.3rem;
  transition: all 0.5s ease-in-out;
}

.over-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 0.5rem;
  background-color: var(--secondary);
}

.img-mid {
  width: 100%;
}

.mid-container-car > a {
  width: 70%;
}

.mid-container-card:hover {
  transform: translateY(-1.875rem);
  transition: all 0.5s ease-in-out;
}

.white-p {
  color: white;
}

.bottom-container {
  background-color: var(--primary);
  height: 19rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-container-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Detail page styling*/

.detail-page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: rgb(237, 238, 240);
}

@media (max-width: 900px) {
  .detail-page-container {
    grid-template-columns: 1fr;
  }

  .detail-page-text > h3 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    min-width: 100%;
  }
}

.detail-page-text {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.table-of-content {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.table-of-content > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0.5rem;
}

.table-of-content > ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
