* {
  margin: 0;
  font-family: "Norwester";
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Norwester";
  src: url(norwester.ttf);
}

footer {
  background-color: rgb(0, 0, 0);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

p {
  color: black;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: rgb(255, 255, 60);
}

.footer-link {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

header {
  background-color: rgb(0, 0, 0);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes fly-in {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.logo {
  width: 100%;
  margin: 0;
  padding-top: 20px;
  z-index: -1;
  position: relative;
  animation: fly-in 0.5s ease-out;
}

.header-link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.cart {
  display: flex;
}

.top-container {
  display: flex;
  justify-content: space-around;
  height: 400px;
  background-color: rgb(255, 255, 60);
}

.top-container-images {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-container-text {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  font-size: 35px;
  color: #8b55ff;
}

.top-container-img {
  height: 250px;
  width: 500px;
  transition: all 0.5s ease-in-out;
}

.top-container-img:hover {
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
}

.mid-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: rgb(114, 51, 250);
}

@media (max-width: 1360px) {
  .mid-container {
    flex-direction: column;
  }
  .top-container {
    flex-direction: column;
    height: 2000px;
    align-items: center;
    justify-content: space-around;
  }

  .mid-container {
    height: 1700px;
  }

  .logo {
    width: 70%;
  }

  .mid-container-card {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }

  .top-container-text {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 80px;
    padding-top: 200px;
    padding-bottom: 0px;
  }

  .top-container-images {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.mid-container-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.over-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 10px;
  background-color: rgb(89, 40, 194);
}

.img-mid {
  width: 100%;
}

.mid-container-car > a {
  width: 70%;
}

.mid-container-card:hover {
  transform: translateY(-30px);
  transition: all 0.5s ease-in-out;
}

.white-p {
  color: white;
}

.bottom-container {
  background-color: rgb(255, 255, 60);
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-container-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Detail page styling*/

.detail-page-container {
  display: grid;
  grid-template-columns: repeat(3, 50vh);
  gap: 20px;
  background-color: rgb(237, 238, 240);
}

@media (max-width: 1360px) {
  .detail-page-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .detail-page-text > h3 {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.detail-page-image > img {
  width: 100%;
  margin: 0;
  padding-top: 20px;
}

.detail-page-text {
  margin-left: 10px;
  margin-top: 10px;
}

.table-of-content {
  margin-top: 10px;
  margin-left: 10px;

}

.table-of-content > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.table-of-content > ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
