/*card styling*/

.market {
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(4, 14rem);
  gap: 0.5rem;
}

.cart-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.cart-item:hover {
  background-color: var(--primary);
  transition: all 0.5s ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  padding-top: 1.5rem;
}

.card-img {
  padding-top: 1.5rem;
  justify-content: center;
}

@media (max-width: 1200px) {
  .market {
    display: grid;
    grid-template-columns: repeat(2, 28rem);
  }
}

@media (max-width: 895px) {
  .market {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    font-size: 2rem;
  }
}
