* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Norwester";
}

@font-face {
  font-family: "Norwester";
  src: url(norwester.ttf);
}

svg {
  cursor: pointer;
}

body {
  background-color: rgb(92, 60, 255);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  height: 50px;
}

.header-links {
  margin-right: 500px;
  display: flex;
  justify-content: flex-start;
}

.header-link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.cart {
  margin-left: 500px;
  display: flex;
  justify-content: flex-end;
}

/*card styling*/

.container {
  display: flex;
  justify-content: space-between;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellow;
  padding: 5em;
  font-size: 2.2em;
}

.market {
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 10px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.cart-item:hover {
  background-color: rgb(51, 69, 208);
  transition: all 0.5s ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.buttons {
  display: flex;
  gap: 20px;
  font-size: 1.3em;
  padding-top: 20px;
}

.card-img {
  padding-top: 20px;
  justify-content: center;
}

@media (max-width: 1000px) {
  .market {
    display: grid;
    grid-template-columns: repeat(1, 446px);
  }
}
