* {
  margin: 0;
  font-family: "Norwester";
}

@font-face {
  font-family: "Norwester";
  src: url(norwester.ttf);
}

footer {
  background-color: rgb(0, 0, 0);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}

p {
  color: black;
}

.footer-link {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  height: 50px;
}

.header-links {
  margin-right: 500px;
  display: flex;
  justify-content: flex-start;
}

.header-link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.cart {
  margin-left: 500px;
  display: flex;
  justify-content: flex-end;
}

.top-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 600px;
  background-color: rgb(255, 255, 60);
}

.top-container-images {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-container-text {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  font-size: 35px;
  margin-left: 50px;
}

.top-container-img {
  height: 250px;
  width: 500px;
  transition: all 0.5s ease-in-out;
}

.top-container-img:hover {
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
}

.mid-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: rgb(165, 165, 165);
}

@media (max-width: 1000px) {
  .mid-container {
    flex-direction: column;
    width: 1000px;
  }
  .top-container {
    flex-direction: column;
    height: 2000px;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
  }

  .mid-container {
    height: 1500px;
  }

  .mid-container-card {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }

  .top-container-text {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 80px;
    padding-top: 200px;
    padding-bottom: 0px;
  }

  .top-container-images {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.mid-container-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

.white {
  color: white;
}

.bottom-container {
  background-color: rgb(255, 255, 60);
  height: 300px;
}

/*Monster detail page*/

.detail-page-monster {
  display: flex;
  flex-direction: column;
}
