* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  cursor: pointer;
}

body {
  background-color: rgb(255, 255, 60);
}

/*card styling*/

.market {
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 10px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.cart-item:hover {
  background-color: rgb(208, 208, 51);
  transition: all 0.5s ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.buttons {
  display: flex;
  gap: 20px;
  font-size: 1.3em;
  padding-top: 20px;
}

.card-img {
  padding-top: 20px;
  justify-content: center;
}
